POSTGRES_DB=nelon_shift
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
DB_URL=jdbc:postgresql://postgres:5432/nelon_shift

REDIS_HOST=redis
REDIS_PORT=6379

APP_PORT=8080
JWT_SECRET=your-super-secret-jwt-key-min-512-bits-please-change-this-in-production

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

OAUTH2_REDIRECT_URI=http://localhost:3000/oauth2/redirect

NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080

GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=