APP_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=nelon_shift
POSTGRES_USER=admin
POSTGRES_PASSWORD=root

DB_URL=jdbc:postgresql://postgres:5432/nelon_shift

REDIS_HOST=redis
REDIS_PORT=6379